/* ReceitasComponent.css */

.receitas-component {
  width: 100%;
  height: 82.5vh;
  background-color: rgba(0, 0, 0, 0.543);
  color: #fff;
  padding: 15px;
  margin-left: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  border-radius: 5px;
  align-items: center;
}

.receitas-component h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #ffffff;
}

.receitas-component ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.receitas-component li {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 4px;
  background-color: rgb(17, 150, 0); /* Verde mais claro */
  border-radius: 5px;
  font-size: 0.9rem;
}

.receitas-component li:hover {
  background-color: rgb(38, 189, 9); /* Verde ainda mais claro no hover */
}

.receitas-component p {
  margin-top: 20px;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold; /* Adiciona negrito para destaque */
  text-align: center; /* Centraliza o texto */
}
