/* DespesasComponent.css */

.despesas-component {
  width: 100%;
  height: 82.5vh;
  background-color: rgba(0, 0, 0, 0.543);
  color: #fff;
  padding: 15px;
  margin-left: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  border-radius: 5px;
  align-items: center;
}

.despesas-component h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #ffffff;
}

.despesas-component ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.despesas-component li {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 4px;
  background-color: rgb(171, 57, 57);
  border-radius: 5px;
  font-size: 0.9rem;
}

.despesas-component li:hover {
  background-color: rgb(204, 80, 80);
}

.despesas-component p {
  font-weight: bold; /* Adiciona negrito para destaque */
  margin-top: 20px;
  font-size: 1rem;
  color: #ffffff;
}
