/* DespesasComponent.css */

.despesas-component {
  width: 100%;
  height: 98vh;
  background-color: rgb(255, 154, 154); /* Azul escuro */
  color: #fff;
  padding: 15px;
  margin-left: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  border-radius: 5px;
  align-items: center;
}

.despesas-component h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #ffffff;
}

.despesas-component ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.despesas-component li {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 4px;
  background-color: #3949ab; /* Azul mais claro */
  border-radius: 5px;
  font-size: 0.9rem;
}

.despesas-component li:hover {
  background-color: #536dfe; /* Azul ainda mais claro no hover */
}

.despesas-component p {
  margin-top: 20px;
  font-size: 1rem;
  color: #ffffff;
}
